<h1>Add a title:</h1>

<form action="add_info" method="post"
  <label for="author">Author Name:</label>
  <input id="author" name="author" type="text">
  <br>
  <br>
  <label for="title">Title:</title>
  <input id="title" name="title" type="text">
  <br>
  <br>
  <label for="genre">Genre:</title>
  <input id="genre" name="genre" type="text">
  <br>
  <br>
  <button type="submit">Add the info:</button>
</form>

  <li><%= author.name %><%= title.title %><%= genre.name %></li>

<a href='/'>Click here to return to the main page</a>
