<h1>Here is a list of the authors in your library</h1>
<br>
  <p>Click on an author to see the list of titles</p>
  <ul>
    <% @authors.each do |author|%>
    <li><a href="/title_page/<%= author.id() %>"><%= author.name() %></a></li>
    <% end %>
  </ul>


<a href='/'>Click here to return to the main page</a>
