<h1>Here is the info of the title you entered:</h1>

<h2>Author: <%= @author.name() %></h2>
<h2>Title: <%= @title.title() %></h2>
<h2>Genre: <%= @genre.name() %></h2>
<br>
<a href='/'>Click here to return to the main page</a>
